<header class="bg-sky-900 dark:bg-slate-700 dark:border-gray-500 border-gray-300 p-2 shadow-lg w-full fixed top-0 transition-transform transform duration-700 ease-in-out header-scroll z-50 mb-auto">


    <nav class="flex justify-between items-center w-[92%] mx-auto">
        <div>
            <a href="/" class="block">
                <img class="w-48 py-2 cursor-pointer" src="src/assets/logo.png" alt="EluciDATA Logo">
            </a>
        </div>
        <div class="nav-links duration-500 md:static absolute bg-sky-900 dark:bg-slate-700  md:w-auto w-full flex items-center px-5">
            <ul class="flex md:flex-row  md:items-center md:gap-[4vw] gap-8">
                <li>
                    <a class="relative text-2xl text-slate-50 dark:text-white group" href="skits">
                        Starter Kits
                        <span class="absolute bottom-0 left-0 w-full h-1 bg-slate-50 dark:bg-slate-300 transform scale-x-0 group-hover:scale-x-100 transition-transform"></span>
                    </a>
                </li>
                <li>
                    <a class="relative text-2xl text-slate-50 dark:text-white group" href="blog">
                        Blog
                        <span class="absolute bottom-0 left-0 w-full h-1 bg-slate-50 dark:bg-slate-300 transform scale-x-0 group-hover:scale-x-100 transition-transform"></span>
                    </a>
                </li>
                <li>
                    <a class="relative text-2xl text-slate-50 dark:text-white group" href="community">
                        Community
                        <span class="absolute bottom-0 left-0 w-full h-1 bg-slate-50 dark:bg-slate-300 transform scale-x-0 group-hover:scale-x-100 transition-transform"></span>
                    </a>
                </li>
                <li>
                    <a class="relative text-2xl text-slate-50 dark:text-white group" href="about">
                        About
                        <span class="absolute bottom-0 left-0 w-full h-1 bg-slate-50 dark:bg-slate-300 transform scale-x-0 group-hover:scale-x-100 transition-transform"></span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="md:flex items-center relative ">
            <input class="w-full py-2 px-4 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 md:mr-4" type="search" placeholder="Search">
            <div class="absolute inset-y-0 right-0 flex items-center pr-3">
                <button class="items-center justify-center h-8 w-8 rounded-md text-gray-600 hover:text-gray-900 focus:outline-none focus:text-gray-900 focus:bg-gray-100 hidden md:block md:w-10 md:h-10">
                    <ion-icon name="search" class="text-lg leading-none m-0 p-0"></ion-icon>
                </button>
            </div>
        </div>
    </nav>
</header>

<script>
    const searchInput = document.querySelector('input[type="search"]');

    searchInput.addEventListener('input', (event) => {
        const searchTerm = event.target.value;
        const sanitizedTerm = DOMPurify.sanitize(searchTerm);
    });

    const currentPage = window.location.pathname;
    const navLinksUnderline = document.querySelectorAll('.nav-links a');

    navLinksUnderline.forEach(link => {
        if (link.getAttribute('href') === currentPage) {
            link.querySelector('span').classList.add('scale-x-100');
        }
    })

    const header = document.querySelector('.header-scroll');
    let lastScroll = 0;

    window.addEventListener('scroll', () => {
        const currentScroll = window.pageYOffset;
        if (currentScroll > lastScroll) {
            header.classList.add('-translate-y-full');
        } else {
            header.classList.remove('-translate-y-full');
        }
        lastScroll = currentScroll;
    });

</script>
