<main class="mt-16">
    <div class="relative">
        <section class="about-hero relative h-screen overflow-hidden">
            <img class="absolute inset-0 w-full h-full object-cover opacity-20" src="src/assets/elucidatalab_group.png" alt="eluciDATA picture of all current members">
            <div class="flex flex-col justify-center items-center h-full">
                <h1 class="text-5xl font-bold text-gray-700 mb-8 text-center">A team of 22 Industrial AI experts.</h1>
                <h2 class="text-3xl font-semibold text-gray-500 mb-12 text-center">Ready to support you in your endeavour.</h2>
                
                <div class="flex flex-row justify-between relative z-10 shadow-lg bg-slate-50 rounded-lg">
                    <div class="bg-red-500 rounded-xl p-12 m-8">
                       <p class="text-2xl font-bold text-slate-50 text-center underline">20 Scientists</p>
                    </div>
            
                    <div class="bg-blue-500 rounded-xl p-12 m-8 shadow-lg">
                        <p class="text-2xl font-bold text-slate-50 text-center underline">6 Women</p>
                    </div>
            
                    <div class="bg-green-500 rounded-xl p-12 m-8 shadow-lg">
                        <p class="text-2xl font-bold text-slate-50 text-center underline">11 with PhDs</p>
                    </div>
            
                    <div class="bg-yellow-500 rounded-xl p-12 m-8 shadow-lg">
                        <p class="text-2xl font-bold text-slate-50 text-center underline">10 Different Nationalities</p>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="info-card flex flex-row justify-between lg:flex-col">
            <div class="bg-slate-50 rounded-xl m-16 shadow-xl p-8">
                <h2 class="font-semibold text-2xl text-slate-700 text-center">A team of 22 industrial AI experts, ready to support you in your AI endeavour.
                The EluciDATA Lab bundles Sirris' expertise in advanced data processing and AI. 
                The Lab's mission is to stimulate data innovation and the uptake 
                of AI within the Belgian technological industry.</h2>
            </div>
            <div class="bg-slate-700 rounded-xl m-16 shadow-xl p-8">
                <h2 class="font-semibold text-2xl text-slate-50 text-center">Over the years, we have initiated and executed shared R&D initiatives and bilateral innovation projects,
                organised trainings and dissemination events, and supervised student master theses and internships on
                industrial topics. Through these activities,
                we have acquired extensive knowledge and experience in various industrial domains such as renewable energy,
                manufacturing, transport & mobility.</h2>
            </div>
        </section>

        <section class="call-to-action">
            <div class="flex flex-row justify-evenly p-8 m-16">
            <a href="community" class="text-white bg-gradient-to-br from-purple-500 to-blue-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-3xl text-lg px-6 py-6">Become a member</a>
            <a href="skits" class="text-white bg-gradient-to-br from-purple-500 to-blue-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-3xl text-lg px-6 py-6">Explore our starter kits</a>
            </div>
        </section>
    </div>
</main>
