<footer class="bg-blue-400 dark:bg-slate-700 p-4 border-t-4 border-gray-200 rounded-tr-full overflow-hidden">
    <div class="flex flex-col md:flex-row justify-between items-center">
        <!-- Left Section -->
        <div class="flex flex-col items-center mb-2 md:mb-0">
            <img class="w-full h-full mr-0 flex" src="src/assets/PoweredBySirris_negatif 1.png" alt="Logo">
            <div class="flex items-center space-x-2 justify-content: center align-items: flex-start">
              <a href="#" class="text-slate-100 hover:text-blue-500 p-4"><i class="fab fa-facebook"></i></a>
              <a href="#" class="text-slate-100 hover:text-blue-500 p-4"><i class="fab fa-twitter"></i></a>
              <a href="#" class="text-slate-100 hover:text-blue-500 p-4"><i class="fab fa-instagram"></i></a>
              <a href="#" class="text-slate-100 hover:text-blue-500 p-4"><i class="fab fa-linkedin"></i></a>
            </div>
          </div>

        <!-- Middle Section -->
        <div class="w-48 mb-2 md:mb-0 flex justify-center">
            <img class="w-60 cursor-pointer m-2 flex items-center" src="src/assets/logo.png" alt="EluciDATA Logo">
        </div>

        <!-- Right Section -->
        <div class="grid grid-cols-1 md:grid-cols-4 gap-4 text-center md:text-left mx-20 p-10">
            <div class="flex flex-col items-center p-10  ">
                <div class="text-slate-100 font-bold pb-2">Starter Kits</div>
                <div class="text-sm text-slate-100">Subtitle 1</div>
                <div class="text-sm text-slate-100">Subtitle 1</div>
                <div class="text-sm text-slate-100">Subtitle 1</div>
                <div class="text-sm text-slate-100">Subtitle 1</div>
            </div>

            <div class="flex flex-col items-center p-10  ">
                <div class="text-slate-100 font-bold pb-2">Blog</div>
                <div class="text-sm text-slate-100">Subtitle 2</div>
                <div class="text-sm text-slate-100">Subtitle 1</div>
                <div class="text-sm text-slate-100">Subtitle 1</div>
                <div class="text-sm text-slate-100">Subtitle 1</div>
            </div>

            <div class="flex flex-col items-center p-10 ">
                <div class="text-slate-100 font-bold pb-2">Community</div>
                <div class="text-sm text-slate-100">Subtitle 3</div>
                <div class="text-sm text-slate-100">Subtitle 1</div>
                <div class="text-sm text-slate-100">Subtitle 1</div>
                <div class="text-sm text-slate-100">Subtitle 1</div>
            </div>

            <div class="flex flex-col items-center p-10  ">
                <div class="text-slate-100 font-bold pb-2">Archive</div>
                <div class="text-sm text-slate-100">Subtitle 4</div>
                <div class="text-sm text-slate-100">Subtitle 1</div>
                <div class="text-sm text-slate-100">Subtitle 1</div>
                <div class="text-sm text-slate-100">Subtitle 1</div>
            </div>
        </div>
    </div>

    <div class="text-xs text-slate-100 mt-2 text-center">
        &copy; 2024 EluciDATA. All rights reserved. | <a href="#" class="text-blue-500">User Agreement</a> | <a href="#" class="text-blue-500">Privacy Policy</a>
    </div>
</footer>